@reference "polpo-tailwind-config/styles";

@layer components {
    .polpo-button {
        --button-blur: 2px;

        --color: var(--color-gray-800);
        --solid-background: var(--color-gray-800);
        --solid-text: var(--color-gray-50);
        --solid-hover-background: var(--color-gray-700);
        --solid-active-background: var(--color-gray-900);
        --flat-text: var(--color-gray-700);
        --flat-background: hsl(from var(--color-gray-400) h s l / 50%);
        --flat-hover-background: hsl(from var(--color-gray-300) h s l / 50%);
        --flat-active-background: hsl(from var(--color-gray-300) h s l / 80%);
        --outlined-text: var(--color-gray-600);
        --outlined-hover-background: hsl(from var(--color-gray-400) h s l / 20%);
        --outlined-active-background: hsl(from var(--color-gray-500) h s l / 30%);
        --text-hover-background: hsl(from var(--color-gray-300) h s l / 20%);
        --text-active-background: hsl(from var(--color-gray-400) h s l / 30%);
        --shadow-color: hsl(from var(--color-gray-800) h s l / 20%);
        --focus-background: hsl(from var(--color-gray-100) h s l / 20%);

        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.625em 2.1875em;
        gap: 0.625em;
        border-radius: 0.5em;
        font-weight: bold;
        font-size: var(--text-label);
        cursor: pointer;
        outline: none;
        transition: all 150ms ease;
        user-select: none;
        white-space: nowrap;

        &.icon {
            padding: 0.625em;
        }

        &.full {
            width: 100%;
        }

        &.no-wrap {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.size-small {
            font-size: var(--text-small);
        }

        &.size-regular {
            font-size: var(--text-label);
        }

        &.size-large {
            font-size: var(--text-body);
        }

        &.radius-none {
            border-radius: 0;
        }

        &.radius-small {
            border-radius: 0.25em;
        }

        &.radius-medium {
            border-radius: 0.5em;
        }

        &.radius-large {
            border-radius: 1em;
        }

        &.radius-full {
            border-radius: 100rem;
        }

        &.is-loading {
            pointer-events: none;
            cursor: progress;
            opacity: 80%;
        }

        &:not(:disabled):not(.is-loading) {
            &:hover,
            &:active,
            &:focus-visible {
                backdrop-filter: blur(var(--button-blur));
            }

            &:hover {
                transform: scale(1.01);
                &:not(.text) {
                    box-shadow: 0 1.4em 0.5em -1em hsl(from var(--color-black) h s l / 20%),
                    0 0.7em 1em -0.5em hsl(from var(--color-black) h s l / 20%);
                }
            }

            &:active {
                transform: scale(0.98);
                &:not(.text) {
                    box-shadow: 0 0.3em 0.4em -0.2em hsl(from var(--color-black) h s l / 20%),
                    0 0.2em 0.8em -0.1em hsl(from var(--color-black) h s l / 20%);
                }
            }
        }

        /*----------------------------------------------------------------------------------------------*/

        color: var(--color);

        .ripple-effect {
            background: var(--color);
        }

        &.solid {
            background: var(--solid-background);
            color: var(--solid-text);
            backdrop-filter: blur(var(--button-blur));

            .ripple-effect {
                background: var(--solid-text);
            }

            &:focus-visible {
                box-shadow: 0 0 0 0.3125em var(--shadow-color);
                background: var(--solid-hover-background);
            }

            &:hover {
                background: var(--solid-hover-background);
            }

            &:active {
                background: var(--solid-active-background);
            }
        }

        &.flat {
            background: var(--flat-background);
            backdrop-filter: blur(var(--button-blur));
            color: var(--flat-text);

            &:hover {
                background: var(--flat-hover-background);
            }

            &:active {
                background: var(--flat-active-background);
            }
        }

        &.outlined {
            background: transparent;
            border: 1px solid;
            color: var(--outlined-text);

            &:hover {
                background: var(--outlined-hover-background);
            }

            &:active {
                background: var(--outlined-active-background);
            }
        }

        &.text {
            background: transparent;

            &:hover {
                background: var(--text-hover-background);
            }

            &:active {
                background: var(--text-active-background);
            }
        }

        &:focus-visible {
            box-shadow: 0 0 0 0.3125em var(--shadow-color);
            background: var(--focus-background);
        }

        /*----------------------------------------------------------------------------------------------*/

        &.primary {
            --color: var(--color-primary-500);
            --solid-background: var(--color-primary-400);
            --solid-text: var(--color-primary-foreground);
            --solid-hover-background: var(--color-primary-300);
            --solid-active-background: var(--color-primary-500);
            --flat-text: var(--color-primary-700);
            --flat-background: hsl(from var(--color-primary-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-primary-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-primary-300) h s l / 80%);
            --outlined-text: var(--color-primary-600);
            --outlined-hover-background: hsl(from var(--color-primary-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-primary-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-primary-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-primary-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-primary-500) h s l / 20%);
            --focus-background: hsl(from var(--color-primary-200) h s l / 20%);
        }

        &.secondary {
            --color: var(--color-secondary-500);
            --solid-background: var(--color-secondary-400);
            --solid-text: var(--color-secondary-foreground);
            --solid-hover-background: var(--color-secondary-300);
            --solid-active-background: var(--color-secondary-500);
            --flat-text: var(--color-secondary-700);
            --flat-background: hsl(from var(--color-secondary-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-secondary-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-secondary-300) h s l / 80%);
            --outlined-text: var(--color-secondary-600);
            --outlined-hover-background: hsl(from var(--color-secondary-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-secondary-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-secondary-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-secondary-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-secondary-500) h s l / 20%);
            --focus-background: hsl(from var(--color-secondary-100) h s l / 20%);
        }

        &.tertiary {
            --color: var(--color-tertiary-500);
            --solid-background: var(--color-tertiary-400);
            --solid-text: var(--color-tertiary-foreground);
            --solid-hover-background: var(--color-tertiary-300);
            --solid-active-background: var(--color-tertiary-500);
            --flat-text: var(--color-tertiary-700);
            --flat-background: hsl(from var(--color-tertiary-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-tertiary-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-tertiary-300) h s l / 80%);
            --outlined-text: var(--color-tertiary-600);
            --outlined-hover-background: hsl(from var(--color-tertiary-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-tertiary-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-tertiary-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-tertiary-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-tertiary-500) h s l / 20%);
            --focus-background: hsl(from var(--color-tertiary-100) h s l / 20%);
        }

        &.active {
            --color: var(--color-active-500);
            --solid-background: var(--color-active-400);
            --solid-text: var(--color-active-foreground);
            --solid-hover-background: var(--color-active-300);
            --solid-active-background: var(--color-active-500);
            --flat-text: var(--color-active-700);
            --flat-background: hsl(from var(--color-active-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-active-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-active-300) h s l / 80%);
            --outlined-text: var(--color-active-600);
            --outlined-hover-background: hsl(from var(--color-active-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-active-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-active-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-active-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-active-500) h s l / 20%);
            --focus-background: hsl(from var(--color-active-100) h s l / 20%);
        }

        &.warning {
            --color: var(--color-warning-500);
            --solid-background: var(--color-warning-400);
            --solid-text: var(--color-warning-foreground);
            --solid-hover-background: var(--color-warning-300);
            --solid-active-background: var(--color-warning-500);
            --flat-text: var(--color-warning-700);
            --flat-background: hsl(from var(--color-warning-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-warning-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-warning-300) h s l / 80%);
            --outlined-text: var(--color-warning-600);
            --outlined-hover-background: hsl(from var(--color-warning-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-warning-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-warning-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-warning-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-warning-500) h s l / 20%);
            --focus-background: hsl(from var(--color-warning-100) h s l / 20%);
        }

        &.alert {
            --color: var(--color-alert-500);
            --solid-background: var(--color-alert-400);
            --solid-text: var(--color-alert-foreground);
            --solid-hover-background: var(--color-alert-300);
            --solid-active-background: var(--color-alert-500);
            --flat-text: var(--color-alert-700);
            --flat-background: hsl(from var(--color-alert-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-alert-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-alert-300) h s l / 80%);
            --outlined-text: var(--color-alert-600);
            --outlined-hover-background: hsl(from var(--color-alert-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-alert-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-alert-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-alert-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-alert-500) h s l / 20%);
            --focus-background: hsl(from var(--color-alert-100) h s l / 20%);
        }

        &.info {
            --color: var(--color-info-500);
            --solid-background: var(--color-info-400);
            --solid-text: var(--color-info-foreground);
            --solid-hover-background: var(--color-info-300);
            --solid-active-background: var(--color-info-500);
            --flat-text: var(--color-info-700);
            --flat-background: hsl(from var(--color-info-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-info-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-info-300) h s l / 80%);
            --outlined-text: var(--color-info-600);
            --outlined-hover-background: hsl(from var(--color-info-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-info-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-info-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-info-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-info-500) h s l / 20%);
            --focus-background: hsl(from var(--color-info-100) h s l / 20%);
        }

        &.accent {
            --color: var(--color-accent-500);
            --solid-background: var(--color-accent-400);
            --solid-text: var(--color-accent-foreground);
            --solid-hover-background: var(--color-accent-300);
            --solid-active-background: var(--color-accent-500);
            --flat-text: var(--color-accent-700);
            --flat-background: hsl(from var(--color-accent-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-accent-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-accent-300) h s l / 80%);
            --outlined-text: var(--color-accent-600);
            --outlined-hover-background: hsl(from var(--color-accent-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-accent-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-accent-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-accent-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-accent-500) h s l / 20%);
            --focus-background: hsl(from var(--color-accent-100) h s l / 20%);
        }

        &.highlight {
            --color: var(--color-highlight-500);
            --solid-background: var(--color-highlight-400);
            --solid-text: var(--color-highlight-foreground);
            --solid-hover-background: var(--color-highlight-300);
            --solid-active-background: var(--color-highlight-500);
            --flat-text: var(--color-highlight-700);
            --flat-background: hsl(from var(--color-highlight-400) h s l / 50%);
            --flat-hover-background: hsl(from var(--color-highlight-300) h s l / 50%);
            --flat-active-background: hsl(from var(--color-highlight-300) h s l / 80%);
            --outlined-text: var(--color-highlight-600);
            --outlined-hover-background: hsl(from var(--color-highlight-400) h s l / 20%);
            --outlined-active-background: hsl(from var(--color-highlight-500) h s l / 30%);
            --text-hover-background: hsl(from var(--color-highlight-300) h s l / 20%);
            --text-active-background: hsl(from var(--color-highlight-400) h s l / 30%);
            --shadow-color: hsl(from var(--color-highlight-500) h s l / 20%);
            --focus-background: hsl(from var(--color-highlight-100) h s l / 20%);
        }

        &:disabled {
            color: var(--color-gray-300);
            pointer-events: none;
        }

        &.solid:disabled {
            background: var(--color-gray-300);
            color: var(--color-gray-100);
        }

        &.flat:disabled {
            background: hsl(from var(--color-gray-100) h s l / 80%);
        }

        &.outlined:disabled,
        &.text:disabled {
            background: transparent;
        }
    }
}
