@reference "polpo-tailwind-config/styles";

@layer components {
    .polpo-action-modal {
        background: transparent;

        .polpo-modal-content {
            background: transparent;
            &.shake-animation {
                animation: headShake 600ms linear;
            }
        }
    }

    .polpo-action-modal-content {
        position: relative;

        .polpo-action-modal-body {
            box-shadow: 0 0 10px -5px;
            border-radius: 10px;
            overflow: hidden;
            display: grid;
        }

        .polpo-action-modal-body-content {
            background: var(--color-background);
            padding: 3em 4em 2em;
            display: grid;
            gap: 1em;
        }

        &.no-padding .polpo-action-modal-body-content {
            padding: 2em 0 0;
        }

        &:has(.action-modal-icon) .polpo-action-modal-body-content {
            padding-top: 4em;
        }

        &.back-card {
            &::before {
                content: '';
                position: absolute;
                width: 90%;
                height: 100%;
                top: 8px;
                left: 50%;
                transform: translate(-50%);
                z-index: -1;
                background: var(--color-primary-500);
                border-radius: 10px;
                display: block;
                transition: top 300ms cubic-bezier(0.81, -0.52, 0.42, 2.5);
            }
        }

        .action-modal-icon {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background: var(--color-primary-500);
            color: var(--color-primary-50);
            padding: 0;
            border-radius: 50%;
            width: 2em;
            height: 2em;
            display: grid;
            place-content: center;
            transition: box-shadow 300ms cubic-bezier(0.81, -0.52, 0.42, 2.5);
            z-index: 1;
            box-shadow:
                    0 0 0 0 hsl(from var(--color-primary-500) h s l / 53%),
                    0 0 0 0 hsl(from var(--color-primary-500) h s l / 40%),
                    0 0 0 0 hsl(from var(--color-primary-500) h s l / 27%),
                    0 0 0 0 hsl(from var(--color-primary-500) h s l / 14%);
        }

        .close-modal-button {
            width: 1em;
            height: 1em;
            margin: 0.5em;
            border-radius: 50%;
            cursor: pointer;
            background: var(--color-background);
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.2em;
            font-size: 1.5em;
            opacity: 0;
            transition: all 300ms ease;
            z-index: 1;
            display: grid;
            place-content: center;
            box-sizing: content-box;
        }

        &.line-on-top {
            .polpo-action-modal-content {
                border-top: 5px solid var(--color-primary-500);
            }
        }

        &:hover {
            .action-modal-icon {
                box-shadow:
                        0 0 0 7px hsl(from var(--color-primary-500) h s l / 53%),
                        0 0 0 14px hsl(from var(--color-primary-500) h s l / 40%),
                        0 0 0 21px hsl(from var(--color-primary-500) h s l / 27%),
                        0 0 0 28px hsl(from var(--color-primary-500) h s l / 14%);
            }

            .close-modal-button {
                opacity: 1;

                &:hover {
                    background: var(--color-gray-100);
                }
            }

            &::before {
                top: 15px;
            }
        }
    }
}
