@import "tailwindcss";
@import "./animations.css";

:root {
    /*
     * COLORS
     */
    --active: hsl(147 100% 35%);
    --alert: hsl(359 90% 62%);
    --warning: hsl(38 100% 50%);
    --info: hsl(210 100% 51%);
    --primary: hsl(174 53% 28%);
    --secondary: hsl(79 52% 70%);
    --tertiary: hsl(181 64% 57%);
    --white: hsl(0 0 100%);
    --black: hsl(0 0 0%);
    /*
     * PALETTE CONTROLS
     */
    --light-base: #fff;
    --dark-base: #000;
    --scale-step: 20%;
    --scale-50: calc(var(--scale-step) * 1);
    --scale-100: calc(var(--scale-step) * 1.5);
    --scale-200: calc(var(--scale-step) * 2.5);
    --scale-300: calc(var(--scale-step) * 3.5);
    --scale-400: calc(var(--scale-step) * 4.5);
    --scale-600: calc(var(--scale-step) * 4.5);
    --scale-700: calc(var(--scale-step) * 3.5);
    --scale-800: calc(var(--scale-step) * 2.5);
    --scale-900: calc(var(--scale-step) * 1.5);
    /*
     * ACTIVE
     */
    --active-50: color-mix(in hsl, var(--active) var(--scale-50), var(--light-base));
    --active-100: color-mix(in hsl, var(--active) var(--scale-100), var(--light-base));
    --active-200: color-mix(in hsl, var(--active) var(--scale-200), var(--light-base));
    --active-300: color-mix(in hsl, var(--active) var(--scale-300), var(--light-base));
    --active-400: color-mix(in hsl, var(--active) var(--scale-400), var(--light-base));
    --active-500: var(--active);
    --active-600: color-mix(in hsl, var(--active) var(--scale-600), var(--dark-base));
    --active-700: color-mix(in hsl, var(--active) var(--scale-700), var(--dark-base));
    --active-800: color-mix(in hsl, var(--active) var(--scale-800), var(--dark-base));
    --active-900: color-mix(in hsl, var(--active) var(--scale-900), var(--dark-base));
    /*
     * ALERT
     */
    --alert-50: color-mix(in hsl, var(--alert) var(--scale-50), var(--light-base));
    --alert-100: color-mix(in hsl, var(--alert) var(--scale-100), var(--light-base));
    --alert-200: color-mix(in hsl, var(--alert) var(--scale-200), var(--light-base));
    --alert-300: color-mix(in hsl, var(--alert) var(--scale-300), var(--light-base));
    --alert-400: color-mix(in hsl, var(--alert) var(--scale-400), var(--light-base));
    --alert-500: var(--alert);
    --alert-600: color-mix(in hsl, var(--alert) var(--scale-600), var(--dark-base));
    --alert-700: color-mix(in hsl, var(--alert) var(--scale-700), var(--dark-base));
    --alert-800: color-mix(in hsl, var(--alert) var(--scale-800), var(--dark-base));
    --alert-900: color-mix(in hsl, var(--alert) var(--scale-900), var(--dark-base));
    /*
     * WARNING
     */
    --warning-50: color-mix(in hsl, var(--warning) var(--scale-50), var(--light-base));
    --warning-100: color-mix(in hsl, var(--warning) var(--scale-100), var(--light-base));
    --warning-200: color-mix(in hsl, var(--warning) var(--scale-200), var(--light-base));
    --warning-300: color-mix(in hsl, var(--warning) var(--scale-300), var(--light-base));
    --warning-400: color-mix(in hsl, var(--warning) var(--scale-400), var(--light-base));
    --warning-500: var(--warning);
    --warning-600: color-mix(in hsl, var(--warning) var(--scale-600), var(--dark-base));
    --warning-700: color-mix(in hsl, var(--warning) var(--scale-700), var(--dark-base));
    --warning-800: color-mix(in hsl, var(--warning) var(--scale-800), var(--dark-base));
    --warning-900: color-mix(in hsl, var(--warning) var(--scale-900), var(--dark-base));
    /*
     * INFO
     */
    --info-50: color-mix(in hsl, var(--info) var(--scale-50), var(--light-base));
    --info-100: color-mix(in hsl, var(--info) var(--scale-100), var(--light-base));
    --info-200: color-mix(in hsl, var(--info) var(--scale-200), var(--light-base));
    --info-300: color-mix(in hsl, var(--info) var(--scale-300), var(--light-base));
    --info-400: color-mix(in hsl, var(--info) var(--scale-400), var(--light-base));
    --info-500: var(--info);
    --info-600: color-mix(in hsl, var(--info) var(--scale-600), var(--dark-base));
    --info-700: color-mix(in hsl, var(--info) var(--scale-700), var(--dark-base));
    --info-800: color-mix(in hsl, var(--info) var(--scale-800), var(--dark-base));
    --info-900: color-mix(in hsl, var(--info) var(--scale-900), var(--dark-base));
    /*
     * NEUTRAL
     */
    --neutral: hsl(0 0 53%);
    --neutral-50: color-mix(in hsl, var(--neutral) var(--scale-50), var(--light-base));
    --neutral-100: color-mix(in hsl, var(--neutral) var(--scale-100), var(--light-base));
    --neutral-200: color-mix(in hsl, var(--neutral) var(--scale-200), var(--light-base));
    --neutral-300: color-mix(in hsl, var(--neutral) var(--scale-300), var(--light-base));
    --neutral-400: color-mix(in hsl, var(--neutral) var(--scale-400), var(--light-base));
    --neutral-500: var(--neutral);
    --neutral-600: color-mix(in hsl, var(--neutral) var(--scale-600), var(--dark-base));
    --neutral-700: color-mix(in hsl, var(--neutral) var(--scale-700), var(--dark-base));
    --neutral-800: color-mix(in hsl, var(--neutral) var(--scale-800), var(--dark-base));
    --neutral-900: color-mix(in hsl, var(--neutral) var(--scale-900), var(--dark-base));
    /*
     * PRIMARY
     */
    --primary-50: color-mix(in hsl, var(--primary) var(--scale-50), var(--light-base));
    --primary-100: color-mix(in hsl, var(--primary) var(--scale-100), var(--light-base));
    --primary-200: color-mix(in hsl, var(--primary) var(--scale-200), var(--light-base));
    --primary-300: color-mix(in hsl, var(--primary) var(--scale-300), var(--light-base));
    --primary-400: color-mix(in hsl, var(--primary) var(--scale-400), var(--light-base));
    --primary-500: var(--primary);
    --primary-600: color-mix(in hsl, var(--primary) var(--scale-600), var(--dark-base));
    --primary-700: color-mix(in hsl, var(--primary) var(--scale-700), var(--dark-base));
    --primary-800: color-mix(in hsl, var(--primary) var(--scale-800), var(--dark-base));
    --primary-900: color-mix(in hsl, var(--primary) var(--scale-900), var(--dark-base));
    /*
     * SECONDARY
     */
    --secondary-50:color-mix(in hsl, var(--secondary) var(--scale-50), var(--light-base));
    --secondary-100: color-mix(in hsl, var(--secondary) var(--scale-100), var(--light-base));
    --secondary-200: color-mix(in hsl, var(--secondary) var(--scale-200), var(--light-base));
    --secondary-300: color-mix(in hsl, var(--secondary) var(--scale-300), var(--light-base));
    --secondary-400: color-mix(in hsl, var(--secondary) var(--scale-400), var(--light-base));
    --secondary-500: var(--secondary);
    --secondary-600: color-mix(in hsl, var(--secondary) var(--scale-600), var(--dark-base));
    --secondary-700: color-mix(in hsl, var(--secondary) var(--scale-700), var(--dark-base));
    --secondary-800: color-mix(in hsl, var(--secondary) var(--scale-800), var(--dark-base));
    --secondary-900: color-mix(in hsl, var(--secondary) var(--scale-900), var(--dark-base));
    /*
     * TERTIARY
     */
    --tertiary-50: color-mix(in hsl, var(--tertiary) var(--scale-50), var(--light-base));
    --tertiary-100: color-mix(in hsl, var(--tertiary) var(--scale-100), var(--light-base));
    --tertiary-200: color-mix(in hsl, var(--tertiary) var(--scale-200), var(--light-base));
    --tertiary-300: color-mix(in hsl, var(--tertiary) var(--scale-300), var(--light-base));
    --tertiary-400: color-mix(in hsl, var(--tertiary) var(--scale-400), var(--light-base));
    --tertiary-500: var(--tertiary);
    --tertiary-600: color-mix(in hsl, var(--tertiary) var(--scale-600), var(--dark-base));
    --tertiary-700: color-mix(in hsl, var(--tertiary) var(--scale-700), var(--dark-base));
    --tertiary-800: color-mix(in hsl, var(--tertiary) var(--scale-800), var(--dark-base));
    --tertiary-900: color-mix(in hsl, var(--tertiary) var(--scale-900), var(--dark-base));
    /*
     * STATES
     */
    --accent: var(--neutral-200);
    --background: var(--white);
    --background-paper: var(--neutral-50);
    --background-disabled: var(--neutral-100);
    --foreground: var(--neutral-900);
    --foreground-disabled: var(--neutral-900);
    --border: var(--neutral-300);
    --radius: 0.625rem;
    --spacing: 0.2rem;
    /*
     * TYPOGRAPHY
     */
    --typography-family-main: "Montserrat";
    --typography-size-small: 0.75rem;
    --typography-size-label: 0.875rem;
    --typography-size-body: 1rem;
    --typography-size-header4: 1.5rem;
    --typography-size-header3: 2.0rem;
    --typography-size-header2: 2.5rem;
    --typography-size-header1: 3.0rem;
    --typography-size-hero: 3.75rem;
    --typography-line-height-header: 120%;
    --typography-line-height-common: 140%;
    /*
     * BREAKPOINTS
     */
    --breakpoint-mobile: 360px;
    --breakpoint-mobileL: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptopS: 1024px;
    --breakpoint-laptopM: 1280px;
    --breakpoint-laptopL: 1440px;
    --breakpoint-desktop: 1920px;
    --breakpoint-large: 2560px;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: var(--breakpoint-mobile);
    font-family: var(--typography-family-main) sans-serif;
    background: var(--background);
    color: var(--foreground);
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea {
    color: currentColor;
    font-family: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
    background: transparent;
}

input {
    border: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}
