@reference "polpo-tailwind-config/styles";

@layer components {
    .polpo-badge {
        --text: var(--color-gray-50);
        --background: var(--color-gray-800);
        --background-selected: var(--color-gray-400);
        --text-selected: var(--color-gray-800);

        padding: 0.4em 0.8em;
        border-radius: 0.3em;
        background: var(--background);
        color: var(--text);
        transition: all 300ms ease;
        display: inline-block;
        font-weight: bold;
        font-size: var(--text-label);
        user-select: none;
        text-align: center;

        &.no-wrap {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.size-small {
            font-size: var(--text-small);
        }

        &.size-regular {
            font-size: var(--text-label);
        }

        &.size-large {
            font-size: var(--text-body);
        }

        &.radius-none {
            border-radius: 0;
        }

        &.radius-small {
            border-radius: 0.25em;
        }

        &.radius-medium {
            border-radius: 0.5em;
        }

        &.radius-large {
            border-radius: 1em;
        }

        &.radius-full {
            border-radius: 100rem;
        }

        &:hover,
        &.is-selected {
            background: var(--background-selected);
            color: var(--text-selected);
        }
    }
}
