@reference "polpo-tailwind-config/styles";

@layer components {
    .polpo-tab {
        cursor: pointer;
        user-select: none;
        transition: all 300ms ease;
    }

    .polpo-tab-list {
        --color: var(--color-gray-900);
        --color-contrast: var(--color-gray-50);
        --inner-radius: 0;
        --outer-radius: 0;

        display: grid;
        grid-auto-flow: column;
        gap: 1em;
        align-items: center;
        position: relative;
        @apply text-label;
        border-radius: var(--outer-radius);

        .tab, .polpo-tabs-selector {
            border-radius: var(--inner-radius);
        }

        &.size-small {
            @apply text-small;
        }

        &.size-medium {
            @apply text-label;
        }

        &.size-large {
            @apply text-body;
        }

        .polpo-tabs-selector {
            position: absolute;
            background: var(--color);
            color: var(--color-contrast);
            border-radius: 1.5em;

            &.active {
                transition: all 300ms ease;
            }
        }

        .polpo-tab {
            border-radius: 1.5em;
            padding: 0.5em 1em;
            z-index: 1;
            text-align: center;

            &.is-open {
                color: var(--color-contrast);
            }

            &:not(.is-open):hover {
                color: var(--color-gray-900);
            }
        }

        &.radius-none {
            --outer-radius: 0;
            --inner-radius:  0;
        }

        &.radius-small {
            --outer-radius: 0.5em;
            --inner-radius:  0.5em;
        }

        &.radius-medium {
            --outer-radius: 1em;
            --inner-radius:  0.8em;
        }

        &.radius-large {
            --outer-radius: 1.5em;
            --inner-radius:  1.3em;
        }

        &.radius-full {
            --outer-radius: 1.8em;
            --inner-radius:  1.6em;
        }

        &.vertical-direction {
            grid-auto-flow: row;
            align-items: unset;
            align-content: start;
        }

        &.variant-solid {
            background: var(--color-background-paper);
            color: var(--color-foreground);
            padding: 0.5em;
        }

        &.variant-ghost {
            border: 1px solid var(--color);
            padding: 0.5em;
        }

        &.variant-flat {
        }

        &.variant-line {
            border-radius: 0;

            &:not(.vertical-direction) {
                border-bottom: 2px solid var(--color-border);
            }

            .polpo-tabs-selector {
                border-radius: 0;
            }

            .polpo-tab {
                border-radius: 0;

                &.is-open {
                    color: var(--color);
                }
            }
        }

        &.color-primary {
            --color: var(--color-primary-500);
            --color-contrast: var(--color-primary-50);
        }

        &.color-secondary {
            --color: var(--color-secondary-500);
            --color-contrast: var(--color-secondary-50);
        }

        &.color-tertiary {
            --color: var(--color-tertiary-500);
            --color-contrast: var(--color-tertiary-50);
        }

        &.color-active {
            --color: var(--color-active-500);
            --color-contrast: var(--color-active-50);
        }

        &.color-warning {
            --color: var(--color-warning-500);
            --color-contrast: var(--color-warning-50);
        }

        &.color-alert {
            --color: var(--color-alert-500);
            --color-contrast: var(--color-alert-50);
        }

        &.color-info {
            --color: var(--color-info-500);
            --color-contrast: var(--color-info-50);
        }
    }
}
