@reference "polpo-tailwind-config/styles";

@layer components {
    .polpo-input-slider {
        display: grid;
        grid-template-columns: 1fr 50px;
        align-items: center;
        gap: 10px;

        .polpo-slider {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            display: grid;
            align-items: center;

            &:focus {
                outline: none;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 1em;
                background: var(--color-primary-500);
                box-shadow: 0 0 0 0 var(--color-gray-500);
                margin-top: -8px;
                transition: all 300ms ease;
                cursor: pointer;
            }

            &::-webkit-slider-runnable-track {
                height: 4px;
                border-radius: 1em;
                background: hsl(from var(--color-primary-200) h s l / 50%);
                transition: all 300ms ease;
            }

            &:focus,
            &:hover {
                &::-webkit-slider-thumb {
                    background: var(--color-primary-500);
                    box-shadow: 0 0 0 6px hsl(from var(--color-primary-500) h s l / 50%);
                    cursor: grab;
                }
            }

            &:active {
                &::-webkit-slider-thumb {
                    box-shadow: 0 0 0 12px hsl(from var(--color-primary-500) h s l / 31%);
                    cursor: grabbing;
                }
            }

            &:focus {
                &::-webkit-slider-runnable-track {
                    background: var(--color-primary-300);
                }
            }
        }

        &:has(.slider-number:focus) .slider::-webkit-slider-thumb,
        &:has(.slider-number:hover) .slider::-webkit-slider-thumb {
            background: var(--color-primary-500);
            box-shadow: 0 0 0 6px hsl(from var(--color-primary-500) h s l / 31%);
        }

        .polpo-slider-number {
            transition: all 300ms ease;
            border: 1px solid;
            border-radius: 5px;
            text-align: center;
            @apply text-label;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 100%;
            padding: 4px 8px;
            font-weight: bold;
            color: inherit;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &.is-focus {
            .slider-number {
                color: var(--color-primary-500);
            }
        }
    }
}
