@reference "polpo-tailwind-config/styles";

@layer components {
    .polpo-accordion {
        display: grid;
    }

    .polpo-accordion-item {
        display: grid;
        position: relative;

        .polpo-accordion-header {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            position: sticky;
            top: 0;
            padding: 20px 0;

            &.has-start-content {
                grid-template-columns: auto 1fr auto;
            }
        }

        .polpo-accordion-header-content {
            display: grid;
        }

        .polpo-accordion-toggle-icon {
            transition: all 300ms ease;

            &.is-open {
                transform: rotate(-90deg);
            }
        }

        .polpo-accordion-body {
            padding: 10px 0 20px;
        }
    }
}
