@reference "polpo-tailwind-config/styles";

@layer components {
    .polpo-hover-card {
        display: inline-block;
        transition: all 300ms ease;

        .polpo-hover-card-layer {
            transition: all 100ms ease;
            width: 100%;
            height: 100%;
            display: grid;
        }
    }
}
