@reference "polpo-tailwind-config/styles";

@layer components {
    .polpo-confirmation-modal {
        display: grid;
        max-width: 450px;
        gap: 1em;
        place-content: center;
        justify-items: center;
        text-align: center;

        .polpo-confirmation-modal-actions {
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            gap: 1em;
        }
    }
}
